{% extends "base.html" %}{% block title %} Welcome {% endblock %}{% block
content %}
    <img src="../static/eda-logo-purple.png" alt=""/>
    <br>
    <h1>EDA Python and Flask Workshop</h1>
    <br>
    <button><a href="{{ url_for("add_task") }}">Add Task</a></button>
        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Task Due Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.date }}</td>
                        <td>
                            <button><a href="{{ url_for("remove_task", index = loop.index0) }}">Delete Task</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
