{% extends "base.html" %} {% block title %} Task {% endblock %} {% block content
%}
    <p>{{ task.name }}</p>
    <button><a href="{{ url_for("remove_task", index=index) }}">Remove Task</a></button>
    <br>
    <br>
    <button><a href="{{ url_for("home") }}">Home</a></button>
        {% if index < max_index %}
            <button><a href="{{ url_for("task_view", index = index + 1) }}">Next Task</a></button>
        {% else %}
            <button><a href="{{ url_for('task_view', index = 0) }}">First Task</a></button>
        {% endif %}
{% endblock %}
